body {
    background-color:#C1F2B0;  
  }
  
  h1 {
    color:#66BFBF;
  }
  
  h3 {
    color:#66BFBF;
  }
  
  hr {
    /*background-color:red;*/
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:5px;
    height:0px;
    width:5%;
  }

  img {
    width: 80%;
    height: 0%;
  }